body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 300;
}

/*RESETS*/
a {
  text-decoration: none;
  color: inherit;
}

.main-header {
  color: #f4f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("https://source.unsplash.com/e94T5ag-9x0") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  /* .main-header__nav */
}
.main-header__nav {
  color: #333;
  font-size: 0.91rem;
  background-color: #fff;
  padding-bottom: 1rem;
}

.nav {
  /* .nav__list */
  /* .nav__item */
  /* .nav__link */
  /* .nav__toggle */
}
.nav__list {
  list-style: none;
  flex-direction: column;
  display: none;
}
.nav__item {
  text-align: center;
  margin: 15px auto;
}
.nav__link {
  text-decoration: none;
  color: rgba(51, 51, 51, 0.8);
}
.nav__link:hover {
  color: #333;
}
.nav__toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  /*todo: to fix this icon*/
  color: #f3f;
  font-size: 2rem;
}
.nav__toggle:hover {
  color: #333;
}

.logo {
  display: inline-block;
  font-size: 1.6rem;
  margin-top: 0.6rem;
  margin-left: 1.2rem;
  font-weight: bold;
  color: #1f1f1f;
}

.logo:hover {
  color: rgba(51, 51, 51, 0.8);
}

.header {
  /* .header__column */
  /* .header__sub-title */
  /* .header__title */
  /* .header__description */
  /* .header__button */
}
.header__column {
  width: 50%;
  margin: 0 auto;
  line-height: 28px;
  font-weight: 300;
  min-height: 430px;
  display: flex;
  flex-direction: column;
}
.header__sub-title {
  padding-top: 30%;
}
.header__title {
  line-height: 140%;
  font-weight: 400;
  margin: 1rem 0;
  font-size: 1.4rem;
}
.header__description {
  font-size: 1.09rem;
}
.header__button {
  transition: background-color 0.2s;
}
.header__button #arrow {
  margin-left: 4px;
  margin-top: 1px;
  color: #f4f4f4f4 !important;
  transition: transform 0.6s;
}
.header__button:hover {
  background-color: #7e9e93;
}
.header__button:hover #arrow {
  transform: translateX(8px);
}
.header__footer {
  background-color: #fff;
  width: 95%;
  margin: 0 auto;
  padding-top: 2rem;
  border-radius: 16px 16px 0 0;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sub-title {
  color: #91aea4;
  line-height: 21px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 15px;
}

.button {
  margin: 1rem 0;
  display: flex;
  min-height: 38px;
  min-width: 120px;
  padding: 13px 20px 10px;
  border-radius: 25px;
  background-color: #91aea4;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #edf8f8;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  text-align: center;
}

.intro {
  text-align: center;
  /* .intro__title */
  /* .intro__row */
  /* .intro__column */
}
.intro__title {
  width: 70%;
  font-weight: 300;
  margin: 1.6rem auto 4rem;
  color: #1c1a1a;
  line-height: 140%;
}
.intro__row {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
}
.intro__column {
  flex: 0 0 28%;
}
.intro__column:nth-child(1) .item-info__icon {
  background-color: #EDF8F8;
  color: #91AEA4;
}
.intro__column:nth-child(2) .item-info__icon {
  background-color: #FFF6F4;
  color: #FFA38F;
}
.intro__column:nth-child(3) .item-info__icon {
  background-color: #EDEAF5;
  color: #8B78BF;
}

.item-info {
  /* .item-info__icon */
  /* .item-info__title */
  /* .item-info__text */
}
.item-info__icon {
  padding: 1rem;
  border-radius: 100px;
  font-size: 10vw;
  margin-bottom: 1rem;
}
.item-info__title {
  font-weight: 300;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.item-info__text {
  font-size: 0.92rem;
  line-height: 140%;
}

.philosophy {
  /* .philosophy__sidebar */
  /* .philosophy__aside */
  /* .philosophy__img */
}
.philosophy__sidebar {
  display: flex;
  flex-direction: column;
}
.philosophy__img {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.philosophy__img img {
  width: 45%;
  height: 350px;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.wrap {
  width: 95%;
  margin: 0 auto;
  max-width: 900px;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  /* .sidebar__aside */
  /* .sidebar__quote */
  /* .sidebar__footer */
  /* .sidebar__img */
}
.sidebar__quote {
  flex: 0 0 45%;
  margin: 1rem 0 2.8rem 0;
  font-size: 1.52rem;
  position: relative;
}
.sidebar__quote:after {
  content: "";
  background-color: #91aea4;
  width: 45px;
  height: 4px;
  border-radius: 10px;
  position: absolute;
  bottom: -1.2rem;
  left: 0;
}
.sidebar__footer {
  font-weight: 400;
  color: #81848a;
  font-size: 1.1rem;
}
.sidebar__img {
  flex: 0 0 45%;
}

.experience {
  /* .experience__sidebar */
  /* .experience__title */
  /* .experience__text */
}
.experience__sidebar {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.experience__title {
  font-weight: 400;
  width: 90%;
  margin: 0.6rem auto;
}
.experience__text {
  width: 90%;
  margin: 0 auto;
}
.experience__img {
  order: -1;
}

.text {
  font-size: 0.92rem;
}

.works {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* .works__wrap */
  /* .works__title */
  /* .works__row */
  /* .works__column */
  /* .works__button */
}
.works__title {
  margin: 0.8rem 0;
}
.works__button {
  background-color: #fff;
  color: #333;
  border: 1px solid #91aea4;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.8rem auto;
}
.works img {
  margin: 0.4rem 0;
}

.goals {
  display: flex;
  flex-direction: column;
  /* .goals__sidebar */
}
.goals__sidebar {
  display: flex;
  flex-direction: column;
}
.goals__aside {
  text-align: center;
}
.goals__aside footer {
  margin: 3rem 0;
}
.goals__img {
  order: 1;
}
.goals .sidebar__quote:after {
  left: calc(50% - 22.5px);
}

.video {
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.48)), url("https://source.unsplash.com/BuQ1RZckYW4") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f4f4f4f4;
  /* .video__button */
  /* .video__title */
}
.video-play-icon {
  padding: 10px;
  border: 1px solid #f4f4f4f4;
  border-radius: 50%;
  transition: 0.3s transform;
}

.video-play-icon:hover {
  transform: scale(1.1);
}

.main-footer {
  /* .main-footer__wrap */
  /* .main-footer__body */
  /* .main-footer__subscribe */
  /* .main-footer__title */
  /* .main-footer__submit */
  /* .main-footer__more */
  /* .main-footer__text */
  /* .main-footer__social */
}
.main-footer__body {
  background-color: #F1F3F8;
}
.main-footer__subscribe {
  background-color: #E9ECF3;
}
@media screen and (min-width: 768px) {
  .main-header {
    /* .main-header__nav */
  }
  .main-header__nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .nav {
    /* .nav__list */
    /* .nav__item */
    /* .nav__link */
    /* .nav__toggle */
  }
  .nav__list {
    display: flex !important;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav__item {
    margin: 0;
  }
  .nav__link {
    margin-left: 40px;
  }
  .nav__toggle {
    display: none;
  }

  .logo {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
