$color-primary: #f4f4f4f4;
$color-secondary: #333;
$color-link: rgba(51, 51, 51, 0.8);
$color-title: #1c1a1a;
$color-sub-title: #91aea4;


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 300;
}

/*RESETS*/
a {
  text-decoration: none;
  color: inherit;
}


.main-header {
  //height: 80vh;
  color: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("https://source.unsplash.com/e94T5ag-9x0") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  /* .main-header__nav */
  &__nav {
    color: $color-secondary;
    font-size: .91rem;
    background-color: #fff;
    padding-bottom: 1rem;
  }
}

.nav {
  /* .nav__list */
  &__list {
    list-style: none;
    flex-direction: column;
    display: none;
  }

  /* .nav__item */
  &__item {
    text-align: center;
    margin: 15px auto;
  }

  /* .nav__link */
  &__link {
    text-decoration: none;
    color: $color-link;
  }

  &__link:hover {
    color: $color-secondary;
  }

  /* .nav__toggle */
  &__toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    /*todo: to fix this icon*/
    color: #f3f;
    font-size: 2rem;
  }
  &__toggle:hover{
    color: $color-secondary;
  }
}

.logo {
  display: inline-block;
  font-size: 1.6rem;
  margin-top: .6rem;
  margin-left: 1.2rem;
  font-weight: bold;
  color: #1f1f1f;
}

.logo:hover{
  color: $color-link;
}

.header {
  /* .header__column */
  &__column {
    width: 50%;
    margin: 0 auto;
    line-height: 28px;
    font-weight: 300;
    min-height: 430px;
    display: flex;
    flex-direction: column;
  }

  /* .header__sub-title */
  &__sub-title {
    padding-top: 30%;
  }

  /* .header__title */
  &__title {
    line-height: 140%;
    font-weight: 400;
    margin: 1rem 0;
    font-size: 1.4rem;
  }

  /* .header__description */
  &__description {
    font-size: 1.09rem;
  }

  /* .header__button */
  &__button {
    transition: background-color .2s;

    #arrow{
      margin-left: 4px;
      margin-top: 1px;
      color: $color-primary !important;
      transition: transform .6s;
    }

    &:hover{
      background-color: #7e9e93;
    }

    &:hover #arrow{
      transform: translateX(8px);
    }
  }

  &__footer{
    background-color: #fff;
    width: 95%;
    margin: 0 auto;
    padding-top: 2rem;
    border-radius: 16px 16px 0 0;
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sub-title {
  color: $color-sub-title;
  line-height: 21px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 15px;
}

.title {
}

.description {
}

.button {
  margin: 1rem 0;
  display: flex;
  min-height: 38px;
  min-width: 120px;
  padding: 13px 20px 10px;
  border-radius: 25px;
  background-color: #91aea4;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #edf8f8;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  text-align: center;
}

.intro {
  text-align: center;

  /* .intro__title */
  &__title {
    width: 70%;
    font-weight: 300;
    margin: 1.6rem auto 4rem;
    color: $color-title;
    line-height: 140%;
  }

  /* .intro__row */
  &__row {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    & > *{
      margin-top: 2rem;
    }
  }

  /* .intro__column */
  &__column {
    flex: 0 0 28%;

    &:nth-child(1) .item-info__icon{
      background-color: #EDF8F8;
      color: #91AEA4;
    }

    &:nth-child(2) .item-info__icon{
      background-color: #FFF6F4;
      color: #FFA38F;
    }

    &:nth-child(3) .item-info__icon{
      background-color: #EDEAF5;
      color: #8B78BF;
    }
  }
}

.item-info {
  /* .item-info__icon */
  &__icon {
    padding: 1rem;
    border-radius: 100px;
    font-size: 10vw;
    margin-bottom: 1rem;
  }

  /* .item-info__title */
  &__title {
    font-weight: 300;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  /* .item-info__text */
  &__text {
    font-size: .92rem;
    line-height: 140%;
  }
}

.philosophy {
  /* .philosophy__sidebar */
  &__sidebar {

  }

  /* .philosophy__aside */
  &__aside{
  }

  &__sidebar{
    display: flex;
    flex-direction: column;

  }

  /* .philosophy__img */
  &__img {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;

    img {
      width: 45%;
      height: 350px;
    }
  }
}

img{
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.wrap {
  width: 95%;
  margin: 0 auto;
  max-width: 900px;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;


  /* .sidebar__aside */
  &__aside {
  }

  /* .sidebar__quote */
  &__quote {
    flex: 0 0 45%;
    margin: 1rem  0 2.8rem 0;
    font-size: 1.52rem;
    position: relative;

    &:after{
      content: "";
      background-color: $color-sub-title;
      width: 45px;
      height: 4px;
      border-radius: 10px;
      position: absolute;
      bottom: -1.2rem;
      left: 0;
    }
  }

  /* .sidebar__footer */
  &__footer {
    font-weight: 400;
    color: #81848a;
    font-size: 1.1rem;
  }

  /* .sidebar__img */
  &__img {
    flex: 0 0 45%;
  }
}

.experience {
  /* .experience__sidebar */
  &__sidebar {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  /* .experience__title */
  &__title {
    font-weight: 400;
    width: 90%;
    margin: .6rem auto;
  }

  /* .experience__text */
  &__text {
    width: 90%;
    margin: 0 auto;
  }

  &__img{
    order: -1;
  }
}

.text {
  font-size: .92rem;
}

.works {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* .works__wrap */
  &__wrap {
  }

  /* .works__title */
  &__title {
    margin: .8rem 0;
  }

  /* .works__row */
  &__row {
  }

  /* .works__column */
  &__column {
  }

  /* .works__button */
  &__button {
    background-color: #fff;
    color: $color-secondary;
    border: 1px solid $color-sub-title;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.8rem auto;
  }

  img{
    margin: .4rem 0;
  }
}

.goals {
  display: flex;
  flex-direction: column;
  /* .goals__sidebar */
  &__sidebar {
    display: flex;
    flex-direction: column;
  }

  &__aside{
    text-align: center;

    footer{
      margin: 3rem 0;
    }
  }

  &__img{
    order: 1;
  }

  .sidebar__quote{
    &:after{
      left: calc(50% - 22.5px);
    }
  }
}

.video {
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.48)), url("https://source.unsplash.com/BuQ1RZckYW4") center center no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $color-primary;
  /* .video__button */
  &__button {


  }

  /* .video__title */
  &__title {
  }
}

.video-play-icon {
  padding: 10px;
  border: 1px solid $color-primary;
  border-radius: 50%;
  transition: .3s transform;
}

.video-play-icon:hover{
  transform: scale(1.1);
}

.main-footer {
  /* .main-footer__wrap */
  &__wrap {
  }

  /* .main-footer__body */
  &__body {
  }

  /* .main-footer__subscribe */
  &__subscribe {
    padding-top: 3rem;
    background-color: #E9ECF3;
  }

  /* .main-footer__title */
  &__title {
    display: flex;
    align-items: center;
    font-weight: 300;
    margin-bottom: 1rem;

    ion-icon{
      color: #9382C3;
      margin-right: .6rem;
    }
  }

  /* .main-footer__submit */
  &__submit {
    display: flex;


    input{
      padding: 4.5px 0 4.5px 4.5px;
      border: none;
      border-radius: 10px 0 0 10px;
      font-size: .9rem;
    }
  }

  /* .main-footer__more */
  &__more {
    background-color: #F1F3F8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
  }

  /* .main-footer__text */
  &__text {
    width: 60%;
  }

  /* .main-footer__social */
  &__social {
    margin: 2rem 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    & > * {
      padding: 10px;
      font-size: 2rem;
      border-radius: 20px;
      background-color: rgba(147, 130, 195, 0.77);
    }
  }
}

.main-footer-submit-button {
  background-color: #9382C3;
  padding: 10px 35px;
  border-radius: 0 10px 10px 0;
  font-size: .92rem;
  color: $color-primary;
  margin: 0;
}


@media screen and (min-width: 768px) {

  .main-header {

    /* .main-header__nav */
    &__nav {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
  }

  .nav {
    /* .nav__list */
    &__list {
      display: flex !important;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }

    /* .nav__item */
    &__item {
      margin: 0;
    }

    /* .nav__link */
    &__link {
      margin-left: 40px;
    }

    /* .nav__toggle */
    &__toggle {
      display: none;
    }
  }

  .logo {
    margin-top: 0;
  }
}
