body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
}

/*RESETS*/
a {
  text-decoration: none;
  color: inherit;
}

.main-header {
  height: 80vh;
  color: #f4f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("https://source.unsplash.com/e94T5ag-9x0") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  /* .main-header__nav */
}
.main-header__nav {
  color: #333;
  font-size: 0.91rem;
  background-color: #fff;
  padding-bottom: 1rem;
}

.nav {
  /* .nav__list */
  /* .nav__item */
  /* .nav__link */
  /* .nav__toggle */
}
.nav__list {
  list-style: none;
  flex-direction: column;
  display: none;
}
.nav__item {
  text-align: center;
  margin: 15px auto;
}
.nav__link {
  text-decoration: none;
  color: rgba(51, 51, 51, 0.8);
}
.nav__link:hover {
  color: #333;
}
.nav__toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  /*todo: to fix this icon*/
  color: #f3f;
  font-size: 2rem;
}
.nav__toggle:hover {
  color: #333;
}

.logo {
  display: inline-block;
  font-size: 1.6rem;
  margin-top: 0.6rem;
  margin-left: 1.2rem;
  font-weight: bold;
  color: #1f1f1f;
}

.logo:hover {
  color: rgba(51, 51, 51, 0.8);
}

.header {
  /* .header__column */
  /* .header__sub-title */
  /* .header__title */
  /* .header__description */
  /* .header__button */
}
.header__column {
  width: 50%;
  margin: 0 auto;
  line-height: 28px;
  font-weight: 300;
  min-height: 430px;
  padding-top: 110px;
  padding-bottom: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__title {
  line-height: 140%;
  font-weight: 400;
  margin: 1rem 0;
  font-size: 2.4rem;
}
.header__description {
  font-size: 1.09rem;
}
.header__button {
  transition: background-color 0.2s;
}
.header__button #arrow {
  margin-left: 4px;
  margin-top: 1px;
  color: #f4f4f4f4 !important;
  transition: transform 0.6s;
}
.header__button:hover {
  background-color: #7e9e93;
}
.header__button:hover #arrow {
  transform: translateX(8px);
}
.header__footer {
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding-top: 4rem;
  border-radius: 16px 16px 0 0;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sub-title {
  color: #91aea4;
  line-height: 21px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 15px;
}

.button {
  margin: 1rem 0;
  display: flex;
  min-height: 38px;
  min-width: 120px;
  padding: 13px 20px 10px;
  border-radius: 25px;
  background-color: #91aea4;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #edf8f8;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  text-align: center;
}

.intro {
  /* .intro__title */
  /* .intro__row */
  /* .intro__column */
}
.intro__title {
  margin-top: 0.8rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  color: #1c1a1a;
}
.item-info {
  /* .item-info__icon */
  /* .item-info__title */
  /* .item-info__text */
}
.philosophy {
  /* .philosophy__sidebar */
  /* .philosophy__img */
}
.wrap {
  width: 95%;
  margin: 0 auto;
  max-width: 900px;
}

.sidebar {
  /* .sidebar__aside */
  /* .sidebar__quote */
  /* .sidebar__footer */
  /* .sidebar__img */
}
.experience {
  /* .experience__sidebar */
  /* .experience__title */
  /* .experience__text */
}
.works {
  /* .works__wrap */
  /* .works__title */
  /* .works__row */
  /* .works__column */
  /* .works__button */
}
.goals {
  /* .goals__sidebar */
}
.video {
  /* .video__button */
  /* .video__title */
}
.main-footer {
  /* .main-footer__wrap */
  /* .main-footer__body */
  /* .main-footer__subscribe */
  /* .main-footer__title */
  /* .main-footer__submit */
  /* .main-footer__more */
  /* .main-footer__text */
  /* .main-footer__social */
}
@media screen and (min-width: 768px) {
  .main-header {
    /* .main-header__nav */
  }
  .main-header__nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .nav {
    /* .nav__list */
    /* .nav__item */
    /* .nav__link */
    /* .nav__toggle */
  }
  .nav__list {
    display: flex !important;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav__item {
    margin: 0;
  }
  .nav__link {
    margin-left: 40px;
  }
  .nav__toggle {
    display: none;
  }

  .logo {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
