$color-primary: #f4f4f4f4;
$color-secondary: #333;
$color-link: rgba(51, 51, 51, 0.8);


body {
  font-family: 'Open Sans', sans-serif;
}

/*RESETS*/
a {
  text-decoration: none;
  color: inherit;
}


.main-header {
  height: 100vh;
  color: $color-primary;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("https://source.unsplash.com/e94T5ag-9x0") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  /* .main-header__nav */
  &__nav {
    color: $color-secondary;
    font-size: 1.2rem;
    background-color: #fff;
    padding-bottom: 1rem;
  }
}

.nav {
  /* .nav__list */
  &__list {
    list-style: none;
    flex-direction: column;
    display: none;
  }

  /* .nav__item */
  &__item {
    text-align: center;
    margin: 15px auto;
  }

  /* .nav__link */
  &__link {
    text-decoration: none;
    color: $color-link;
  }

  &__link:hover {
    color: $color-secondary;
  }

  /* .nav__toggle */
  &__toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    /*todo: to fix this icon*/
    color: #f3f;
    font-size: 2rem;
  }
  &__toggle:hover{
    color: $color-secondary;
  }
}

.logo {
  display: inline-block;
  font-size: 1.6rem;
  margin-top: .6rem;
  margin-left: 1.2rem;
  font-weight: bold;
  color: #1f1f1f;
}

.logo:hover{
  color: $color-link;
}

.header {
  /* .header__column */
  &__column {
  }

  /* .header__sub-title */
  &__sub-title {
  }

  /* .header__title */
  &__title {
  }

  /* .header__description */
  &__description {
  }

  /* .header__button */
  &__button {
  }
}

.column {
}

.sub-title {
}

.title {
}

.description {
}

.button {
}

.intro {
  /* .intro__sub-title */
  &__sub-title {
  }

  /* .intro__row */
  &__row {
  }

  /* .intro__column */
  &__column {
  }
}

.item-info {
  /* .item-info__icon */
  &__icon {
  }

  /* .item-info__title */
  &__title {
  }

  /* .item-info__text */
  &__text {
  }
}

.philosophy {
  /* .philosophy__sidebar */
  &__sidebar {
  }

  /* .philosophy__img */
  &__img {
  }
}

.wrap {
  width: 95%;
  margin: 0 auto;
  max-width: 900px;
}

.sidebar {
  /* .sidebar__aside */
  &__aside {
  }

  /* .sidebar__quote */
  &__quote {
  }

  /* .sidebar__footer */
  &__footer {
  }

  /* .sidebar__img */
  &__img {
  }
}

.experience {
  /* .experience__sidebar */
  &__sidebar {
  }

  /* .experience__title */
  &__title {
  }

  /* .experience__text */
  &__text {
  }
}

.text {
}

.works {
  /* .works__wrap */
  &__wrap {
  }

  /* .works__title */
  &__title {
  }

  /* .works__row */
  &__row {
  }

  /* .works__column */
  &__column {
  }

  /* .works__button */
  &__button {
  }
}

.goals {
  /* .goals__sidebar */
  &__sidebar {
  }
}

.video {
  /* .video__button */
  &__button {
  }

  /* .video__title */
  &__title {
  }
}

.video-play-icon {
}

.main-footer {
  /* .main-footer__wrap */
  &__wrap {
  }

  /* .main-footer__body */
  &__body {
  }

  /* .main-footer__subscribe */
  &__subscribe {
  }

  /* .main-footer__title */
  &__title {
  }

  /* .main-footer__submit */
  &__submit {
  }

  /* .main-footer__more */
  &__more {
  }

  /* .main-footer__text */
  &__text {
  }

  /* .main-footer__social */
  &__social {
  }
}

.main-footer-submit-button {
}


@media screen and (min-width: 768px) {

  .main-header {

    /* .main-header__nav */
    &__nav {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
  }

  .nav {
    /* .nav__list */
    &__list {
      display: flex !important;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }

    /* .nav__item */
    &__item {
      margin: 0;
    }

    /* .nav__link */
    &__link {
      margin-left: 40px;
    }

    /* .nav__toggle */
    &__toggle {
      display: none;
    }
  }

  .logo {
    margin-top: 0;
  }
}
